@charset "UTF-8";

body.home {
  margin:0px;
}

.content1, .content3, .content5 {
  background-color: #181520;
}

.content2, .content4, .content6 {
  background-color: #40d880;
}

.content2 h2, .content2 h3, .content4 h2, .content4 h3, .content6 h2, .content6 h3
 {
  color:white;
}

.content1, .content1-5, .content2, .content3, .content4, .content5 {
  width:100%;
}
.row1 {
    height: 500px;
}

.row1, .row2, .row3, .row4, .row5, .row6 {
    max-width: 1200px;
    margin: auto;
}

.row1-5 {
  width:70%;
  min-width:400px;
  margin:auto;
}

h1, h2, h3 {
    color: #40d880;
    font-family:raleway;
    font-weight:100;
    text-transform:uppercase;
}

h2 {
  text-align:center;
}

h1 {
    font-size:72px;
}

h2 {
    font-size:48px;
}

.row2 h2, .row4 h2, .row6 h2 {
  color:#181520;
}


h3 {
  font-size:28px;
}

.row2 h3, .row4 h3 .row6 h3 {
  color:#181520;
}

.col1, .col2 {
  position:relative;
  width:50%;
  float:left;
}

.row1 .col1, .row1 .col2 {
  height:500px;
}

.headline {
  position:absolute;
  top:50%;
  transform:translatey(-50%);
}

.colcontain {
}

img {
  position:absolute;
  bottom:0;
  max-width:100;
  height:auto;
}

.row2, .row3, .row4,
 .row5, .row6 {
    min-height: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.row1-5 {
  padding-top:50px;
  padding-bottom:50px;
}

.row1-5 h3 {
  font-size:22px;
}

.row3 {
    width:80%;
    margin:auto;
}

.row3 .col1, .row3 .col2 {
    padding-left:5%;
}


.row3 ul {
    color: #40d880;
    font-family: raleway;
}

.row3 ul  {
    color: white;
    font-weight: 100;
    text-align:center;
    list-style:none;    
    -webkit-padding-start:0px !important;
    padding-top:30px
}

.row3 h3 {
    text-align:center;
    padding-top:30px;
}

.row3 .col1, .row3 .col2 {
    padding-left:0px; 
}

form {
    width: 50%;
    margin: auto;
}


form {
    font-family: raleway;
    font-size: 22px;
    font-weight: 200;
    color: #181520;
    text-transform: uppercase;
    background-color:white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding:5%;
}

input, textarea {
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #181520;
    margin-bottom: 25px;
    width:100%;

}

textarea {
    border: solid 1px #181520;
    margin-top: 25px;
}



input[type="submit"] {
    border: none;
    width: 400px;
    display:block;
    margin:auto;
    height:50px;
    text-transform:uppercase;
    background-color:#40d880;
    color:white;
}

textarea:focus, input:focus {
    -moz-box-shadow: none;
    outline: none;
}

div#playlist_01 {
    width: 750px;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/*# sourceMappingURL=style.css.map */
